*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    position: relative;
    margin: auto;
    overflow: hidden;
    width: max-content;
    padding: 20px 60px;
}

.slider h2{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}

.slides{

}

.slides img{
    width: 500px;
    display: none;
}

img.displaySlide{
    display: block;
    animation: fadeIn;
    animation-duration: 1.5s;
}

button{
    width: 50px;
    aspect-ratio: 1/1;
    border: none;
    background: rgba(0, 0, 0, .4);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover{
        opacity: .5;
    }
}



.prev{
    left: 0;
}

.next{
    right: 0;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
}